<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189406647757-sls4spfhbqjjgo91qbs2pqt149cr18m6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189406647757-sls4spfhbqjjgo91qbs2pqt149cr18m6</string>
	<key>API_KEY</key>
	<string>AIzaSyCyQYzXDji1lByEkoJKqH_IS7sGj2_S_sU</string>
	<key>GCM_SENDER_ID</key>
	<string>189406647757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Pruthvi.CenticBids</string>
	<key>PROJECT_ID</key>
	<string>centic-bids-59c79</string>
	<key>STORAGE_BUCKET</key>
	<string>centic-bids-59c79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189406647757:ios:2d82e8c3e64f15acf66084</string>
</dict>
</plist>